doctype.html
style
	include css/header.css
	include css/body.css
html
	include head.html
	body
		include header.html
		.content
			form#form(
				action="/admin"
				method="post"
			)
				span ID
				input#id(
					type="text"
					name="id"
				)
				span Title
				input#title(
					type="text"
					name="title"
				)
				span Description
				input#description(
					type="text"
					name="description"
				)
				button#update(
					type="submit"
				) update

			form#form(
				action="/admin-user"
				method="post"
			)
				fieldset
					legend Insert user
					span Name
					input#name(
						type="text"
						name="name"
					)
					if erro
						span(
							style="color : red;"
						) e-mail
					else
						span e-mail
					input#email(
						type="text"
						name="email"
					)
					span Password
					input#password(
						type="password"
						name="password"
					)
					span Confirm password
					input#confirm(
						type="password"
						name="confirm"
					)
					button#login(
						type="submit"
					) Insert

