doctype.html

html
	body
		form#form(
			action="/"
			method="post"
		)
			span ID
			input#id(
				type="text"
				name="id"
			)
			span Title
			input#title(
				type="text"
				name="title"
			)
			span Description
			input#description(
				type="text"
				name="description"
			)
			button#update(
				type="submit"
			) update

