include head.html
style
	include css/header.css
	include css/body.css
	include css/main-content.css
body
	include header.html
	include main-content.html
	#features
		.boxes
			#web
				h2=content[0].title
				p=content[0].description
			#apis
				h2=content[1].title
				p=content[1].description
			#performance
				h2=content[2].title
				p=content[2].description
			#frameworks
				h2=content[3].title
				p=content[3].description
	a(
		href="/admin"
	) admin

	a(
		href="/login"
	) login